body {
  margin: 0;
  padding: 0;
}

/* Margen negativo para correr los items del menú del dropwdown hacia la izquierda*/
.custom-dropdown-menu {
  margin-left: -50px;
}

/*Margen ajustable para el icono del basurero */
.fa-trash-can {
  margin-left: 40px;
}
 /*Ancho para la card*/
.card {
  width: 18rem;
}

 /*Estilos para desplegar el scroll en la galería*/
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll .card-wrapper {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.imagen-detalle {
  max-width: 600px;
}